body{
background-color: #f4f4f4;
    margin: 0;
}

header{
    height: 58px;  
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

header img{
    width: 58px;
}

.main-title{
    font-size: 48px;
    text-align: center;
    width: 250px;
 
    margin: 80px auto 38px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 800;
}

@media (min-width: 580px) {
    .main-title{
        font-size: 64px;
        width: 330px;
    }
  }

  @media (min-width: 1200px) {
    .main-title{
        font-size: 80px;
        width: 410px;
    }
  }


.destination{
    list-style-type:none;
    padding: 0;
    position: relative;

}

.destination li{
    border: 1px solid #101010;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
     /* width: 400px; */  
    }

.destination li:hover{
    background-color: #101010;
    color: #f4f4f4;
  }

.destination-image{   
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity 1s;
   
}

.destination li:hover .destination-image{
    opacity: 1;    
}